@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-C-Roboto);
}
:root {
  --font-A-Monserrat:"Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  --font-B-Briem:"Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal;

    --font-C-Roboto: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header nav {
  display: inline-block;
  background-color: rgb(75, 73, 73);
  height: 70px;
  width: 100%;
  font-family:var(--font-B-Briem);
 }
 header nav .enlace{
  position: absolute;
  padding: 5px 20px;
 }
 header nav a .logo {
  width: 50px;
  height: auto;
 }
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right:20px;
}
nav ul li {
  line-height: 60px;
  padding: 0 5px;
  
}
nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: var(--font-B-Briem);
}
li.active, a:hover {
  background-color: rgb(68, 127, 237);
  transition: .5s;
}
.checkbtn {
  font-size: 40px;
  color:  rgb(68, 127, 237);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.container .seccion-1 {
  display: flex;
  flex-wrap: wrap;
}
.seccion-2 img {
  width: 100%;
  height: auto;
}
.seccion-1 {
  background-color: rgb(159, 75, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px;
  flex-direction: row-reverse;
  gap: 10px;;
}
.sobreMi-img img{
  width: 200px;
  height: 200px;
  border-radius: 80px;
  margin: 20px;
  box-shadow: 0 5px 10px #1e60b0;
  object-fit: cover;
 
  
  
}
.sobreMi {
  justify-content: flex-end;
  width: 60%;
  padding-left: 15%;
  text-align: end;
}
 .sobreMi h2 {
   font-family: var(--font-B-Briem);
   margin: 5px;
   margin-bottom: 15px;
   font-size: 28px;
   font-weight: 600;
   text-shadow: 0 0 3px #1e60b0;
}
.sobreMi p {
  margin: 10px;
  font-size: 20px;
}
section + .tarjetas {
  margin-top: -10px;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 35px;
}
.container .tarjetasCard {
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.card-img img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.streaming {
  background-color: aqua;

}
.card {
  width: 60vh;
  margin: 20px;
  height: 26vw;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 20px 1px 10px rgb( 0,0,0,0.2);
  cursor: pointer;
  transition: all 400ms ease; 
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(25, 121, 182, 0.4);
  transform: translate(-3%);
}
.tarjetasCard .contenido {
  padding: 15px;
  text-align: center;
}
.tarjetasCard .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}
.tarjetasCard .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px;
}
.tarjetasCard .contenido a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  color: 1px solid #2fb4cc;
  border-radius: 10px;
  border: 1px solid #2fb4cc;
  transition: all 400ms ease;
}
.tarjetasCard .contenido a:hover {
  background-color: #2fb4cc;
  color: #fff;
  box-shadow: 1px black;
}

/*Medida para tablets o dispositivos medianos*/
@media only screen and (max-width: 768px) {

  
  .enlace{
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .seccion-1 {
    display: block;
    width: 50px;
    height: auto;
  }
}
/*Medida para celulares o dispositivos pequeños*/

@media only screen and (max-width: 640px){
  
  .checkbtn{
  display: block;

  }
  header nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(77, 74, 74);
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;

  }

  nav ul li {
    
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover, li a.active {
    background-color: none;
    color: red;
  }
  #check:checked ~ ul {
    left:0;
  }
  .seccion-1 {
    display: none;
    width: 450px;
  }
  .sobreMi-img img {
    display: block;
  }
}
  